/* UTILITY */

.ec_bg-darkblue {
    background-color: #2C3E50;
}

.ec-bg-lightblue {
    background-color: #3A546D;
}

.ec_bglime {
    background-color: #1ABC9C;
}

.ec_color-lime {
    color: #1ABC9C;
}

.ec_custom-avatar {
    width: 250px;
    height: auto;
}

.ec_custom-list {
    width: 60%;
}

.ec_custom-textarea {
    border-bottom: 1px solid gray;
}